<div class="container mt-5 w-50">
    <a class="btn btn-success" [routerLink]="['/grupos/form']">ADD GRUPO</a> <br>
    <a class="btn btn-warning mt-3" [routerLink]="['/albums/form']">ADD ALBUM</a>
    <table class="table mt-3 ms-auto me-auto text-center  table-stripped table-dark">
        <thead class="thead-dark">
            <th style="color:red">GRUPO</th>
            <th style="color:red">ALBUM</th>
        </thead>
        <tbody>
            <tr *ngFor="let grupo of grupos">
                <td>{{grupo.nombreGrupo}}</td>
                    <td><span *ngFor="let item of grupo.albums">{{item.nombreAlbum}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
