<div class="container mt-5">
    <div class="card ms-auto me-auto w-5">
        <div class="card-body">
            <form (submit)="save()">
                <input type="text" name="nombreAlbum" class="form-control my-2" [(ngModel)]="album.nombreAlbum" placeholder="Nombre del album...">
                <h4 class="mt-4 ">GRUPO MUSICAL</h4>
                <select name="grupos" class="mb-2" [(ngModel)]="album.grupo.id">
                    
                    <option *ngFor="let grupo of grupos" [value]="grupo.id">{{grupo.nombreGrupo}}</option>
                </select>
                <button type="submit" class="btn btn-primary form-control">GUARDAR</button>
            </form>
        </div>
    </div>
</div>